<!-- / component2 \ -->
<div class="component2">
    <div class="loading" ng-show="$ctrl.loader">
        Loading&#8230;
    </div>
    <toast></toast>
    <form name="$ctrl.purchaseform">
        <div class="row">
            <div class="col-sm-4">
                <div class="panel panel-success">
                    <div class="panel-heading" style="background-color: transparent;padding: 0">
                        <h3>Supplier Info</h3></div>
                    <div class="panel-body" style="height: 306px;">
                        <div class="row">
                            <div class="col-sm-8">
                                <ui-select name="purchaseDetail" ng-model="$ctrl.selectedPurchaser" theme="selectize" style="width: 250px;" title="Choose a seller">
                                    <ui-select-match placeholder="Select Purchaser">{{$select.selected.profile.name || 'Select Purchaser'}}</ui-select-match>
                                    <ui-select-choices repeat="country in $ctrl.purchaseDetails | filter: $select.search">
                                        <span ng-bind-html="country.profile.name | highlight: $select.search"></span>
                                    </ui-select-choices>
                                </ui-select>
                            </div>
                            <div class="col-sm-4">
                                <a href="" class="btn btn-sm btn-primary" ng-click="$ctrl.newPurchaser()">New</a>
                            </div>
                        </div>
                        <br>
                        <br>
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="row" ng-show="$ctrl.selectedPurchaser.profile.name">
                                    <div class="col-sm-6">
                                        <h4><b style="padding-left: 92px;">Name:</b></h4></div>
                                    <div class="col-md-4">
                                        <h5>{{$ctrl.selectedPurchaser.profile.name}}</h5></div>
                                </div>
                                <div class="row" ng-show="$ctrl.selectedPurchaser.profile.address">
                                    <div class="col-sm-6">
                                        <h4><b style="padding-left: 70px;">Address:</b></h4></div>
                                    <div class="col-md-2">
                                        <h5>{{$ctrl.selectedPurchaser.profile.address}}</h5></div>
                                </div>
                                <div class="row" ng-show="$ctrl.selectedPurchaser.profile.phone.length > 0">
                                    <div class="col-sm-6">
                                        <h4><b style="padding-left: 90px;">Phone:</b></h4></div>
                                    <div class="col-md-2">
                                        <h5>
                                        {{$ctrl.selectedPurchaser.profile.phone[0]}}
                                        {{$ctrl.selectedPurchaser.profile.phone[1]}}
                                        </h5>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-6">
                                        <h4><b>Balance to be paid:</b></h4></div>
                                    <div class="col-md-2">
                                        <h5>{{$ctrl.selectedPurchaser.balance || 0}}</h5></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-8">
                <div class="panel panel-success">
                    <div class="panel-heading" style="background-color: transparent;padding: 0">
                        <div class="row">
                            <div class="col-md-3">
                                <br>
                                <div class="row">
                                    <div class="col-md-2"></div>
                                    <div class="col-md-1">
                                        <input type="checkbox" name="isReturned" ng-model="$ctrl.isReturnedOrder">
                                    </div>
                                    <div class="col-md-7">
                                        <label style="padding-top: 4px;" for="isReturned">Is Returned</label>
                                    </div>
                                </div>
                                <!-- <label for="isReturned">Is Returned</label> -->
                            </div>
                            <div class="col-md-4">
                                <h3>Product Detail</h3>
                            </div>
                            <div class="col-md-4">
                                <br>
                                <p class="input-group">
                                    <input type="text" class="form-control" placeholder="Select Date" datetime-picker="dd-MM-yyyy HH:mm" ng-model="myDate" is-open="$ctrl.isOpen" />
                                    <span class="input-group-btn">
        <button type="button" class="btn btn-default" ng-click="$ctrl.openCalendar($event, prop)"><span class="glyphicon glyphicon-calendar"></span></button>
                                    </span>
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="panel-body" style="height: 300px;">
                        <div style="height:250px;overflow:auto;">
                            <table class="table table-hover" id="top">
                                <tr>
                                    <th style="font-size: 13px;" class="col-md-2">Item Name</th>
                                    <th style="font-size: 13px;" class="col-md-2"> Price</th>
                                    <th style="font-size: 13px;" class="col-md-2">Quantity</th>
                                    <th style="font-size: 13px;" class="col-md-2">Total(₹)</th>
                                    <th style="font-size: 13px;" class="col-md-2">Action</th>
                                </tr>
                                <tr class="text-center">
                                    <td>
                                        <ui-select name="productDetail" ng-model="$ctrl.selectedProduct" theme="selectize" on-select="$ctrl.onSelectItem($item, $model)" style="width: 160px;" title="Select Item">
                                            <ui-select-match placeholder="Select Item">{{$select.selected.productInfo || 'Select Item'}}
                                            </ui-select-match>
                                            <ui-select-choices repeat="product in $ctrl.productDetails | filter: $select.search">
                                                <span ng-bind-html="product.productInfo | highlight: $select.search"></span>
                                            </ui-select-choices>
                                        </ui-select>
                                    </td>
                                    <td>
                                        <input type="number" name="price" ng-model="$ctrl.selectedProduct.price" class="form-control">
                                    </td>
                                    <td>
                                        <input type="number" name="quantity" ng-model="$ctrl.selectedProduct.qty" class="form-control">
                                    </td>
                                    <td>
                                        {{$ctrl.selectedProduct.price * $ctrl.selectedProduct.qty}}
                                    </td>
                                    <td><a href="" ng-click="!$ctrl.selectedProduct.productInfo || $ctrl.addProduct()" class="btn btn-sm btn-primary">+</a></td>
                                </tr>
                                <tr ng-repeat="product in $ctrl.productArr track by $index" class="text-center">
                                    <td>{{product.productInfo}}</td>
                                    <td>{{product.price}}</td>
                                    <td>{{product.qty}}</td>
                                    <td>{{product.totalPrice}}</td>
                                    <td><a href="" class="btn btn-sm btn-primary" ng-click="$ctrl.editProduct($index)"><span class="glyphicon glyphicon-pencil"></span></a>
                                        <a href="" class="btn btn-sm btn-danger" ng-click="$ctrl.deleteProduct($index)"><span class="glyphicon glyphicon-trash"></span></a></td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="panel panel-success">
                <div class="panel-body">
                    <div class="col-sm-4">
                    </div>
                    <div class="col-sm-8">
                        <div class="row">
                            <div class="col-sm-8">
                                <label class="pull-right">{{$ctrl.appendedText}} Bill Amount({{$ctrl.productArr.length}} items):</label>
                            </div>
                            <div class="col-sm-4 padding-left-22">
                                ₹{{$ctrl.totalBill}}
                            </div>
                        </div>
                        <br>
                        <div class="row">
                            <div class="col-sm-8">
                                <label class="pull-right">Previous Balance To Pay:</label>
                            </div>
                            <div class="col-sm-4 padding-left-22">
                                ₹{{$ctrl.selectedPurchaser.balance}}
                            </div>
                        </div>
                        <br>
                        <div class="row">
                            <div class="col-sm-8">
                                <label class="pull-right">Total Amount:</label>
                            </div>
                            <div class="col-sm-4 padding-left-22">
                                ₹{{$ctrl.totalAmt}}
                            </div>
                        </div>
                        <br>
                        <div class="row" ng-hide="$ctrl.isReturnedOrder">
                            <div class="col-sm-8">
                                <span>
                                    <span class="paid-by">S =&nbsp;</span>
                                <input type="number" name="s" ng-model="$ctrl.paidByShop" class="form-control small-input">
                                </span>
                                <span>
                                      <span class="paid-by">B =&nbsp;</span>
                                <input type="number" name="b" ng-model="$ctrl.paidByBharat" class="form-control small-input">
                                </span>
                                <span>
                                    <span class="paid-by">P =&nbsp;</span>
                                <input type="number" name="p" ng-model="$ctrl.paidByPrateek" class="form-control small-input">
                                </span>
                                <label class="pull-right">Amount Paid:</label>
                            </div>
                            <div class="col-sm-4 padding-left-22">
                                ₹{{$ctrl.amtPaid}}
                            </div>
                        </div>
                        <div class="row" ng-show="$ctrl.isReturnedOrder">
                            <div class="col-sm-8">
                                <label class="pull-right">Amount Paid by {{$ctrl.selectedPurchaser.profile.name}}:</label>
                            </div>
                            <div class="col-sm-4 padding-left-22">
                                <span style="float: left; margin-top: 4px;">₹</span>
                                <input type="number" name="s" ng-model="$ctrl.amtPaidToShop" class="form-control small-input">
                            </div>
                        </div>
                        <br>
                        <div class="row">
                            <div class="col-sm-8">
                                <label class="pull-right">Remaining Balance to pay:</label>
                            </div>
                            <div class="col-sm-4 padding-left-22">
                                ₹{{$ctrl.currentBal}}
                            </div>
                        </div>
                        <br>
                        <div class="row">
                            <div class="col-sm-7">
                            </div>
                            <div class="col-sm-5 padding-left-22">
                                <a href="" ng-click="$ctrl.selectedPurchaser.profile.name && $ctrl.placeOrder()" ng-disabled="!$ctrl.selectedPurchaser.profile.name" class="btn btn-lg btn-primary">Place Order</a>
                                <div ng-show="!$ctrl.selectedPurchaser.profile.name">Please Select Purchaser</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
<!-- \ component2 end / -->
<style>
.small-input {
    width: 120px;
    float: left;
    height: 25px;
}

.padding-left-22 {
    padding-left: 22px;
}

.paid-by {
    float: left;
    padding-top: 4px;
    padding-left: 5px;
}
</style>
