<style>
.round-button {
    display: block;
    width: 50px;
    height: 50px;
    line-height: 50px;
    border: 2px solid #f5f5f5;
    border-radius: 50%;
    color: blue;
    text-align: center;
    text-decoration: none;
    background: #464646;
    box-shadow: 0 0 3px gray;
    font-size: 20px;
    font-weight: bold;
}

.round-button:hover {
    background: orange;
}


/* Accordian*/

.panel-heading {
    position: relative;
}

.panel-heading[data-toggle="collapse"]:after {
    font-family: 'Glyphicons Halflings';
    content: "\e072";
    /* "play" icon */
    position: absolute;
    color: #b0c5d8;
    font-size: 18px;
    line-height: 22px;
    right: 20px;
    top: calc(50% - 10px);
    /* rotate "play" icon from > (right arrow) to up arrow */
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    transform: rotate(90deg);
}

.panel-heading[data-toggle="collapse"].collapsed:after {
    /* rotate "play" icon from > (right arrow) to ^ (down arrow) */
    -webkit-transform: rotate(-360deg);
    -moz-transform: rotate(-360deg);
    -ms-transform: rotate(-360deg);
    -o-transform: rotate(-360deg);
    transform: rotate(-360deg);
}


/* i-pad */

@media screen and (max-width: 1024px) {
    .round-button {
        right: auto!important;
        left: -20px!important;
    }
}


/* mobile */

@media screen and (max-width: 767px) {
    .round-button {
        left: 0px!important;
    }
    .panel-body {
        padding: 5px;
    }
    .round-button {
        right: auto!important;
        left: 0px!important;
    }
}
    .select2 > .select2-choice.ui-select-match {
            /* Because of the inclusion of Bootstrap */
            height: 29px;
        }

        .selectize-control > .selectize-dropdown {
            top: 36px;
        }
        /* Some additional styling to demonstrate that append-to-body helps achieve the proper z-index layering. */
        .select-box {
          background: #fff;
          position: relative;
          z-index: 1;
        }
        .alert-info.positioned {
          margin-top: 1em;
          position: relative;
          z-index: 10000; /* The select2 dropdown has a z-index of 9999 */
        }
</style>
<br>
<div class="panel-group" id="accordion">
    <div class="panel panel-success">
        <div class="panel-heading accordion-toggle" ng-class="{'collapsed' : $ctrl.collapse}" data-toggle="collapse" data-parent="#accordion" data-target="">
            <h4 class="panel-title text-center"><b style="font-size: 20px;">Items You Have Selected</b></h4>
        </div>
        <div id="collapseOne" class="panel-collapse collapse in">
            <div class="panel-body">
                <div class="row" ng-repeat="item in $ctrl.getItems">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3><b>{{item.brandName}}</b></h3>
                        </div>
                        <div class="panel-body" style="height: 140px;">
                            <!-- <div class="col-lg-2 col-md-2 col-sm-2 col-xs-4">
                                <a href="" style="position: absolute;right: 180px;bottom: 90px;" class="round-button"><span class="glyphicon glyphicon-pencil"></span></a>
                                <img src="https://s3.amazonaws.com/bathwater.images.dev/1483463499380.jpg" class="img-circle" alt="Cinque Terre" width="100" height="100">
                            </div> -->
                            <!-- <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
                                <h5><b>Brand</b></h5>
                                <h6>{{item.brandName}}-{{item.size}}</h6>
                            </div>
                            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
                                <h5><b>QTY</b></h5>
                                <h6>{{item.qty}}</h6>
                            </div>
                            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
                                <h5><b>Price</b></h5>
                                <h6>Rs.{{item.price}}</h6>
                            </div>
                            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
                                <h5><b>Total</b></h5>
                                <h6>Rs.{{item.totalPrice}}</h6>
                            </div>
                            <div class="col-lg-1 col-md-1 col-sm-2 col-xs-2">
                                <br>
                                <button type="button" class="btn btn-danger btn-sm" ng-click="$ctrl.deleteItem(item)">
                                    <span class="glyphicon glyphicon-trash"></span>
                                </button>
                            </div> -->
                            <table class="table table-hover">
                                <tr>
                                    <th style="font-size: 13px;" class="col-md-2">Varient Name</th>
                                    <th style="font-size: 13px;" class="col-md-2"> Quantity</th>
                                    <th style="font-size: 13px;" class="col-md-2">Price</th>
                                    <th style="font-size: 13px;" class="col-md-2">Total Price</th>
                                </tr>
                                <tr class="text-center" ng-repeat="varient in item.variants">
                                    <td>{{varient.name}}</td>
                                    <td>{{varient.quantity}}</td>
                                    <td>{{varient.price}}</td>
                                    <td>{{varient.totalPrice}}</td>
                                </tr>
                            </table>
                        </div>
                    </div>
                    <br>
                </div>
                <br>
                <div class="row">
                    <div class="col-sm-10">
                    </div>
                    <!-- <div class="col-sm-2">
                            <a href="" data-target="#collapseOne, #collapseThird"  class="btn btn-sm btn-primary" data-toggle="collapse" ng-click="$ctrl.editSelectedItem()"  data-parent="#accordion"><< Edit Selected Items </a>
                        </div> -->
                    <div class="col-sm-2">
                        <a href="" data-target="#collapseSecond" class="btn btn-sm btn-primary" data-toggle="collapse" data-parent="#accordion" ng-click="$ctrl.openGenrlInfo()">Continue >></a> </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="panel-group" id="accordion">
    <div class="panel panel-success">
        <div class="panel-heading accordion-toggle " ng-class="{'collapsed' : $ctrl.secondCollapse}" data-toggle="collapse">
            <h4 class="panel-title text-center"><b style="font-size: 20px;">General Information</b></h4>
        </div>
        <div id="collapseSecond" class="panel-collapse collapse">
            <div class="panel-body">
                <div class="row">
                    <div class="col-sm-10">
                    </div>
                    <div class="col-sm-2">
                        <a href="" data-target="#collapseOne, #collapseSecond" class="btn btn-sm btn-primary" data-toggle="collapse" data-parent="#accordion" ng-click="$ctrl.editSelectedItem()">
                            << Edit Selected Items </a>
                    </div>
                </div>
                <br>
                <div class="row">
                    <div class="col-sm-4">
                        <div class="col-sm-2">
                            <label>Name:</label>
                        </div>
                        <div class="col-sm-4">
                            <!-- <input type="text" style="width:270px;" ng-model="$ctrl.doctorDetail.success[0].physician.county" class="form-control" disabled> -->
                            <!-- <input type="text" style="width:160px;" class="form-control" ng-model="$ctrl.details.name" uib-typeahead="name for name in $ctrl.names | filter:$viewValue |limitTo:8"> -->
                            <ui-select ng-model="$ctrl.country.selected" theme="selectize" on-select="$ctrl.onSelectCallback($item, $model)" style="width: 300px;" title="Choose a country">
                                <ui-select-match placeholder="Select or search a country in the list...">{{$select.selected.name}}</ui-select-match>
                                <ui-select-choices repeat="country in $ctrl.countries | filter: $select.search">
                                    <span ng-bind-html="country.name | highlight: $select.search"></span>
                                    <small ng-bind-html="country.code | highlight: $select.search"></small>
                                </ui-select-choices>
                            </ui-select>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="col-sm-3">
                            <label>Mobile Number:</label>
                        </div>
                        <div class="col-sm-4">
                            <input type="text" style="width:160px;" class="form-control" ng-model="$ctrl.details.mobileNum">
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="col-sm-2">
                            <label>Address:</label>
                        </div>
                        <div class="col-sm-4">
                            <textarea style="width: 190px;" ng-model="$ctrl.details.address" class="form-control">
                            </textarea>
                        </div>
                    </div>
                </div>
                <br>
                <div class="row">
                    <div class="col-sm-10">
                    </div>
                    <!-- <div class="col-sm-2">
                            <a href="" data-target="#collapseOne, #collapseSecond"  class="btn btn-sm btn-primary" data-toggle="collapse"  data-parent="#accordion" ng-click="$ctrl.editSelectedItem()"><< Edit Selected Items </a>
                        </div> -->
                    <div class="col-sm-1">
                        <a href="" data-target="#collapseThird, #collapseSecond" class="btn btn-sm btn-primary" data-toggle="collapse" data-parent="#accordion" ng-click="$ctrl.editPayment($ctrl.details.name, $ctrl.details.mobileNum, $ctrl.details.address)">Continue >> </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="panel-group" id="accordion">
    <div class="panel panel-success">
        <div class="panel-heading accordion-toggle " ng-class="{'collapsed' : $ctrl.ThirdCollapse}" data-toggle="collapse">
            <h4 class="panel-title text-center"><b style="font-size: 20px;">Payment</b></h4>
        </div>
        <div id="collapseThird" class="panel-collapse collapse">
            <div class="panel-body">
                <div class="row">
                    <div class="col-sm-8">
                    </div>
                    <div class="col-sm-2">
                        <a href="" data-target="#collapseOne, #collapseThird" class="btn btn-sm btn-primary" data-toggle="collapse" ng-click="$ctrl.editSelectedItem()" data-parent="#accordion">
                            << Edit Selected Items </a>
                    </div>
                    <div class="col-sm-2">
                        <a href="" data-target="#collapseThird, #collapseSecond" class="btn btn-sm btn-primary" data-toggle="collapse" data-parent="#accordion" ng-click="$ctrl.openGenrlInfo()">
                            << Edit General Info </a>
                    </div>
                </div>
                <br>
                <div class="row">
                    <div class="row">
                        <div class="col-sm-4">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h3>Details</h3>
                                </div>
                                <div class="panel-body">
                                    <h4>Name: {{$ctrl.userName}}</h4>
                                    <h4>Mobile Number: {{$ctrl.mobileNum}}</h4>
                                    <h4>Address: {{$ctrl.address}}</h4>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <br>
                <div class="row">
                    <div class="col-sm-11">
                    </div>
                    <!-- <div class="col-sm-2">
                            <a href="" data-target="#collapseOne, #collapseThird"  class="btn btn-sm btn-primary" data-toggle="collapse" ng-click="$ctrl.editSelectedItem()"  data-parent="#accordion"><< Edit Selected Items </a>
                        </div> -->
                    <div class="col-sm-1">
                        <a href="" class="btn btn-sm btn-primary">Finish</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- <div class="panel panel-warning">
    <div class="panel-heading">
        <h3>Items You Have Selected</h3>
    </div>
    <div class="panel-body well text-center">
        <div class="row" ng-repeat="item in $ctrl.getItems">
            <div class="panel panel-default">
                <div class="panel-body" style="height: 140px;">
                    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-4">
                        <a href="" style="position: absolute;right: 180px;bottom: 90px;" class="round-button"><span class="glyphicon glyphicon-pencil"></span></a>
                        <img src="https://pizzaonline.dominos.co.in/themes/OLO_v2.1/images/deal/p-1.jpg" class="img-circle" alt="Cinque Terre" width="100" height="100">
                    </div>
                    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
                        <h5><b>Brand</b></h5>
                        <h6>{{item.brand}}-{{item.size}}</h6>
                    </div>
                    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
                        <h5><b>QTY</b></h5>
                        <h6>{{item.qty}}</h6>
                    </div>
                    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
                        <h5><b>Price</b></h5>
                        <h6>Rs.{{item.price}}</h6>
                    </div>
                    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
                        <h5><b>Total</b></h5>
                        <h6>Rs.{{item.totalPrice}}</h6>
                    </div>
                    <div class="col-lg-1 col-md-1 col-sm-2 col-xs-2">
                        <br>
                        <button type="button" class="btn btn-danger btn-sm">
                            <span class="glyphicon glyphicon-trash"></span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
            <div class="row">
        <div class="panel panel-default">
  <div class="panel-body" style="height: 140px;">
    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-4"> -->
<!-- <a href="" style="position: absolute;right: 180px;bottom: 90px;" class="round-button"><span class="glyphicon glyphicon-pencil"></span></a>           
        <img src="https://pizzaonline.dominos.co.in/themes/OLO_v2.1/images/deal/p-1.jpg" class="img-circle" alt="Cinque Terre" width="100" height="100">
    </div>
    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
        <h5><b>Size</b></h5>
        <h6>Medium</h6>
    </div>
    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
        <h5><b>QTY</b></h5>
        <h6>2</h6>
    </div>
    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
        <h5><b>Price</b></h5>
        <h6>Rs.200</h6>
    </div>
    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
        <h5><b>Total</b></h5>
        <h6>Rs.400</h6>
    </div>
    <div class="col-lg-1 col-md-1 col-sm-2 col-xs-2"><br>
        <button type="button" class="btn btn-danger btn-sm">
          <span class="glyphicon glyphicon-trash"></span> 
        </button>
    </div>
  </div>
</div>
    </div> -->
</div>
</div>
