<!-- / profileComponent \ -->
<div class="profileComponent">
    <div class="container">
        <div class="profileBg">
            <h2> {{$ctrl.itemDetail.name}}</span></h2>
            <div class="inner-adjust">
                <div class="row">
                    <div class="col-sm-2">
                        <label style="padding-top: 10px;padding-left: 50px;">Select Product:</label>
                    </div>
                    <div class="col-sm-5">
                        <ui-select name="purchaseDetail" ng-model="$ctrl.itemDetail" theme="selectize" style="width: 250px;" title="Choose a seller">
                            <ui-select-match placeholder="Select Product">{{$select.selected.name || 'Select Product'}}</ui-select-match>
                            <ui-select-choices repeat="pdt in $ctrl.stockDetail | filter: $select.search">
                                <span ng-bind-html="pdt.name | highlight: $select.search"></span>
                            </ui-select-choices>
                        </ui-select>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-9">
                        <h5><label class="pull-right">Day Start Quantity:</label></h5></div>
                    <div class="col-md-3">
                        <h5><label style="margin-left: 3px;"> {{$ctrl.itemDetail.dayInStock}} </label></h5>
                    </div>
                </div>
                <div class="row">
                    <div style="max-height:250px;overflow:auto;">
                        <table class="table table-bordered text-center">
                            <thead>
                                <tr>
                                    <th class="col-md-2">Name</th>
                                    <th class="col-md-1">Date</th>
                                    <th class="col-md-2">Price</th>
                                    <th class="col-md-1">Is Returned</th>
                                    <th class="col-md-1">Quantity</th>
                                    <th class="col-md-1">Action</th>
                                </tr>
                            </thead>
                            <tr ng-repeat="detail in $ctrl.itemDetail.orderItems | filter: searchText">
                                <td>{{detail.userName}}(<span ng-show="detail.isPurchaser" style="color: black;">Purchaser</span><span ng-show="detail.isSeller">Seller</span>)</td>
                                <td>{{detail.createdOn | date:'dd-MM-yyyy hh:mm a'}}</td>
                                <td>{{detail.price}}</td>
                                <td>{{detail.isReturned | YesNo}}</td>
                                <td>{{detail.quantitySign}}{{detail.quantity}}</td>
                                <td><a href="" class="btn btn-sm btn-primary" ng-click="$ctrl.viewFullOrderModal(detail.orderID)">View Full Order</a></td>
                            </tr>
                            <tbody>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-9">
                        <h5><label class="pull-right">Day End Quantity:</label></h5></div>
                    <div class="col-md-3">
                        <h5><label style="margin-left: 3px;"> {{$ctrl.itemDetail.dayOutStock}} </label></h5>
                    </div>
                </div>
                <br>
            </div>
            <br>
            <br>
            <div style="text-align:center">
                <button type="button" ng-click="$ctrl.cancel()" class="btn btn-lg btn-default">Cancel</button>
            </div>
        </div>
    </div>
</div>
<!-- \ profileComponent end / -->
